
<style>
	.table-wrapper {
		overflow-x: scroll;
	}

	/* Fester Tabellenkopf mit position:sticky */
	thead {
		position: sticky;
		top: 0;
		color: black;
		background: white;
	}

	table, th, td, caption {
		border: thin solid #a0a0a0;
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border-width: thin 0 0 thin;
		margin: 0 0 1em;
		table-layout: auto;
		max-width: 100%;	
		margin-left: 2em;
		box-shadow: 0 0 .1em #666;
		position: relative;
		z-index: 1;
	}

	th, td {
		padding: 8px;
		font-weight: normal;
		text-align: left;
	}

	th, caption {
		background-color: #f1f3f4;
		font-weight: 700;
	}
		  
	caption {
	  color: white;
	  background: hsl(13 96% 39%);
	  font-size: 1.5em;
	  box-shadow: .1em .1em .1em 0 hsl(0 0 50%);
	  padding: .2em .2em .2em 2em;
	  width: 10em;
	  margin-left: -.6em;
	  position: relative;
	}


	caption::before {
	  content: "";
	  position: absolute;
	  display: block;
	  height: 0;
	  width: 0;
	  top: 1em;
	  left: -.6em;
	  border-style: solid;
	  border-width: .6em;
	  border-color: transparent hsl(13 96% 35%) transparent transparent;
	  z-index: -1;
	}
		
	th {
		background-color: #eee;
	}

	th[scope=row] { 
		color: #000;
		text-align: left; 
	}

	td {
		border-bottom: 1px solid #ddd;
		text-align: right;
		box-shadow: inset 1px 3px 5px -3px rgb(0 0 0 / .5);
	}
	
	td:empty {
		box-shadow: none;
	}

	tr:nth-child(even) td {
		--background-color: #f2f2f2;
		background-color: #e4ebf2; 
		color: #000; 
	}

</style>
